.fp{
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem{
    flex: 1;
    gap: 10px;
}

.fpDetails{
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.fpName{
    font-weight: bold;
}

.fpImg{
    width: 100%;
}

.fpRating>button{
    background-color:blueviolet;
    color: white;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}