.footer{
    max-width: 1024px;
    width: 100%;
    background-color: rgba(245, 245, 220, 0.817);
    font-size: 12px;
}

.fLists{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 60px;
}

.fListItem{
    list-style: none;
    color:blue;
    padding: 0;
    cursor: pointer;

}

.fListText{
    display: flex;
    align-items: center;
}